:root {
    --main-color: #DE5E15;
    --secondary-color: #e9ecef;
    --white-color: #fff;
}

/* auth-header */
.auth-header {
    height: 60px;
    width: 100%;
    background-color: var(--main-color);
    z-index: 2000;
}

.auth-header > div {
    color: #fff;
}

.auth-sign-up:hover,
.auth-login:hover {
    font-weight: bold;
}

/* auth-footer */
.auth-footer {
    height: 40px;
    width: 100%;
    background-color: var(--main-color);
}

/* login page and sign up page */
.login {
    height: 100%;
    z-index: -1;
}

.login-box {
    width: 400px;
}

@media screen and (max-width: 768px) {
    .login-box {
        width: 100%;
        padding: 20px;
    }
}

/* Navbar */
.navbar {
    background-color: var(--main-color);
}

.navbar-toggler-icon {
    background-color: var(--main-color);
}

.offcanvas {
    background-color: var(--secondary-color);
}

.btn {
    background-color: var(--main-color);
    color: var(--white-color);
    border-color: var(--main-color);
}

.btn:hover {
    color: var(--white-color);
}

@media screen and (max-width: 990px) {
    .navbar-nav {
        display: none;
    }
}

/* ====== Channels page ====== */
/* Channels */
.main-keywords {
    margin-top: 66px;
}

.keyword-container {
    width: 100%;
    height: 350px;
    border: 1px solid #000;
    overflow: auto;
}


/* ====== Links page ====== */
/* Sidebar */
.links-sidebar {
    width: 280px;
    height: 100%;
    margin-top: 55px;
    position: fixed;
}

.link {
    color: #000;
}

.links:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

.trash {
    display: none;
}

.links:hover .trash {
    display: block;
    cursor: pointer;
    color: var(--white-color);
}

.links:hover .link {
    cursor: pointer;
    color: var(--white-color);
}

/* Main content */
.main {
    margin-left: 280px;
}

.main-links {
    padding-top: 80px;
}

.chat {
    width: 100%;
    height: 430px;
    border: 1px solid black;
}

.description {
    background-color: #e9ecef;
    max-width: 500px;
    height: auto;
}

@media screen and (max-width: 980px) {
    .mobile-view {
        margin-left: 0px;
    }

    .links-sidebar {
        display: none;
    }

    .channels-mobile-view {
        display: none;
    }

    .chat-mobile-view {
        display: none;

    }
}

/* Chats page */
.main-chat {
    margin-top: 70px;
}

/* Keywords */
.main-keywords {
    margin-top: 66px;
}

.keyword-container {
    width: 100%;
    height: 350px;
    border: 1px solid #000;
    overflow: auto;
}


/* scroll bar customization */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
}  





